body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to top,rgb(141, 158, 255) , 20%, #14152C);
    overflow: hidden;
}

@font-face {
    font-family: 'Roboto';
    src: url(../Storage/font/Roboto-Regular.ttf);
}

*{
    font-family: 'Roboto';
}

*::-webkit-scrollbar {
    height: 0.8vi;
    width: 0.8vi;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-track:hover,
*::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    border: 0.1vi solid #ffffff; 
    background-color: #42487e;
    border-radius: 10px;
}

.infoRoc{
    display: flex;
    flex-direction: row;
    margin: 1vw;
}

#icono{
    width: 3vw;
    margin: 1vw 0;
}

h2,p{
    color: white;
    margin: 1vw;
}

h2{
    font-size: 1vw;
}

p{
    font-size: 1vw;
}

#wiki{
    text-decoration: none;
    color: white;
    margin: 1vw;
    font-size: 1vw;
}
.encabezado{
    height: 10vh;
}

#namee{
    font-size: 2vw;
}

.container{
    height: 90vh;
    display: grid;
    grid-template-columns: 25vw 50vw 25vw;
    background: linear-gradient(to top,rgb(141, 158, 255) , 20%, #14152C);
}

.box2{
    display: grid;
    grid-template-rows:  25vh 50vh 15vh;
}

/*///////////////////////////////////////////////*/

.caja2{
    display: grid;
    grid-template-columns: 17vw 16vw 17vw;
}

/* .loding{
    background: linear-gradient(120deg, #ffffff0e 30%, #ffffff23 38%, #f0f0f032 40%, #e5e5e50c 40%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load 2s infinite;
    width: 100%;
    margin: 12px 0;
    height: 100px;
} */
@keyframes load {
    100%{
        background-position: -100% 0;
    }
}

.add2{
    display: flex;
    overflow-x: auto;
    align-items: center;
    /* Estilo para el desbordamiento */

    overflow: auto;
}


.imgNave{
    width: 20vw;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0px 0px 10px var(--color--one);
    margin: 10px;
}
/*///////////////////////////////////////////////*/


.caja3{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.headerTitle{
    height: 15vh;
    color: white;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #14152C;
}

/*///////////////////////////////////////////////*/

.botones,
.infoNave {
    margin: 2vw 0vw;
    width: 90%;
}

.botones{
    display: flex;
    align-items: center;
    justify-content: center;
}

#botones{
    border: 1px solid#14152C;
    color: white;
    background-color: rgb(85, 85, 190);
    width: 3vw;
    height: 4.5vh;
    font-size: 1vw;
    text-align: center;
    border-radius: 10px;
    margin: 0.5vw;    
}

#options{
    width: 35vw;
    z-index: -1;

}

.add{
    display: grid;
    grid-template-rows: 15vh  35vh;
}

hr{
    border-color: #cfcfd1;
    width: 90%;
}

#h3{
    color: white;
    margin: 0 0 0 2vw;
    font-size: 1vw;    
}

.moreInfo{
    display: flex;
    flex-direction: column;
    margin: 2vw 0vw;
    width: 95%;
}

.moreInfoRoc{
    height: 160px;
    overflow-y: auto;
    padding: 0 25px;
}

.infoMore{
    display: flex;
    justify-content: space-between;
}

#spam{
    color: white;
    font-size: 1vw;
    margin: 0vw;
}

#strom{
    color: white;
    font-size: 1vw;
    margin: 0.5vw;
}

/*//////////////////////////////////////////////////////////*/
.box3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.informationContainer{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5vw 0vw;
}

.options{
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#options{
    width: 35vw;
    height: 6vw;
}
#company{
    width: 2vw;
    height: 2vw;
}
.company{
    position: absolute;
    top: 95%;
    left: 40%;
    transform: translate(-50%, -50%);
}
#companylet{
    font-size: 1vw;
    color: white;
    position: absolute;
    top: 75%;
    transform: translate(-50%, -50%);
}
#capsules{
    width: 2vw;
    height: 2vw;
}
.capsules{
    position: absolute;
    top: 95%;
    left: 47%;
    transform: translate(-50%, -50%);
}
#capsuleslet{
    font-size: 1vw;
    color: white;
    position: absolute;
    top: 75%;
    transform: translate(-50%, -50%);
}
#rockets{
    width: 2vw;
    height: 2vw;
}
.rockets{
    position: absolute;
    top: 95%;
    left: 54%;
    transform: translate(-50%, -50%);
}
#rocketslet{
    font-size: 1vw;
    color: white;
    position: absolute;
    top: 75%;
    transform: translate(-50%, -50%);
}
#history{
    width: 2vw;
    height: 2vw;
}
.history{
    position: absolute;
    top: 95%;
    left: 60%;
    transform: translate(-50%, -50%);
}
#historylet{
    font-size: 1vw;
    color: white;
    position: absolute;
    top: 75%;
    transform: translate(-50%, -50%);
}

.progress-container {
    margin-bottom: 10px;
}

progress {
    width: 100%;
}

progress[value] {
    -webkit-appearance: none;
}

progress[value]::-webkit-progress-bar {
    background-color: transparent;
    border-radius: 10px; /* Fondo transparente */
    height: 0.5em;
    width: 100%;
}

progress[value]::-webkit-progress-value {
    background-color: #298bfe;
    border-radius: 10px
}

/*////////////////////////////////////////////////////////////////*/

.caja1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    color: var(--color--five);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 150px; /* Ajusta el tamaño según sea necesario */
    height: 150px; /* Ajusta el tamaño según sea necesario */
    border-radius: 50%;
    background: radial-gradient(closest-side, #1d1f38 85%, transparent 85% 100%), conic-gradient(var(--color--three) 80%, transparent 0);
    transform: rotate(180deg); /* Rotación para empezar desde la parte superior */
}

.circle-progress-bar{
    margin: 0 10%;
}

#speed{
    display: flex;
}

@media (max-width: 500px) {
    *{
        font-size: 3vw;
    }
    body{
        overflow: auto;
        overflow-x: hidden;
    }
    #namee{
        font-size: 5vw;
    }
    h2, p {
        font-size: 3.5vw;
    }
    #wiki{
        font-size: 3.5vw;
    }
    #icono{
        width: 7vw;
        margin: 1vw 4vw;
    }
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    #speed{
        flex-direction: column;
        margin: 5vw;
    }
    .box2{
        display: flex;
        flex-direction: column;
    }
    .caja2{
        display: flex;
        flex-direction: column;
    }
    .imgNave{
        width: 50vw;
    }
    .add, .add2{
        height: 60%;
        display: flex;
        margin: 0 5vw;
    }
    .joa{
        display: none;
    }
    #spam, #strom, #h3{
        font-size: 4vw;
    }
    .moreInfo{
        height: 30vh;
    }
    .add2{
        margin: 0 5vw 15vw 5vw;
    }
    #botones{
        width: 9vw;
        height: 4.5vh;
        font-size: 4vw;
    }
    .botones{
        height: 25vh;
    }
    /*menuuuuuuuuuuuuuuuuuu*/
    .options{
        position: fixed;
        top: -1;
        left: 50vw;
    }
    .rockets, .capsules, .history, .company{
        position: fixed;
        top: 96%;
    }
    .rockets{
        left: 56vw;
    }
    .capsules{
        left: 42vw;
    }
    .history{
        left: 69vw;
    }
    .company{
        left: 28vw;
    }
    #options{
        width: 80vw;
        height: 9vh;
    }
    #companylet, #capsuleslet, #historylet, #rocketslet{
        font-size: 3vw;
        position: fixed;
        top: 95%;
        left: 50%;
    }
    #company, #capsules, #history, #rockets{
        width: 6vw;
        height: 3vh;
    }
    .headerTitle{
        height: 15vh;
    }
}