body{
    margin: 0;
    padding: 0;
    background-color: #14152C;
    overflow: hidden;
}



.encabezado{
    height: 10vh;
}

.container{
    height: 90vh;
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    background: linear-gradient(to top,rgb(141, 158, 255) , 20%, #14152C);
}

.box2{
    display: grid;
    grid-template-rows:  30vh 50vh 10vh;
}

/*///////////////////////////////////////////////*/

.caja2{
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
}

.add{
    background: linear-gradient(120deg, #ffffff0e 30%, #ffffff23 38%, #f0f0f032 40%, #e5e5e50c 40%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load 2s infinite;
    width: 100%;
    margin: 12px 0;
    height: 100px;
}
@keyframes load {
    100%{
        background-position: -100% 0;
    }
}

.add2{
    display: flex;
    overflow-x: auto;
    align-items: center;
    /* Estilo para el desbordamiento */

    overflow: auto;
}


.imgNave{
    width: 305px;
    height: 190px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0px 0px 10px var(--color--one);
    margin: 10px;
}
/*///////////////////////////////////////////////*/


.caja3{
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerTitle{
    height: 10vh;
    color: white;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}