body{
    margin: 0;
    padding: 0;
    background-color: #14152C;
    overflow: hidden;
    
}

@font-face {
    font-family: 'Roboto';
    src: url(../Storage/font/Roboto-Regular.ttf);
}

*{
    font-family: 'Roboto';
}
.container{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 25vw 50vw 25vw;  
    background: linear-gradient(to top,rgb(141, 158, 255) , 20%, #14152C);
}
#titulo{
    color: white;
    font-size: 5vw;
    width: 30vw;
}
.titulo{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#spacex{
    width: 20vw;
    height: 5vw;
}
.spacex{
    position: absolute;
    top: 40%;
    left: 90%;
    transform: translate(-50%, -50%);
}
#general{
    color: white;
    font-size: 1vw;
    width: 30vw;
}
.general{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}
#links{
    color: white;
    font-size: 1vw;
    width: 30vw;
}
.links{
    position: absolute;
    top: 85%;
    left: 100%;
    transform: translate(-50%, -50%);
}
#summary{
    color: white;
    font-size: 1vw;
    width: 30vw;
    text-align: center;
    font-weight: bold;
}
.summary{
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}
#location{
    color: white;
    font-size: 1vw;
    width: 30vw;
}
.location{
    position: absolute;
    top: 80%;
    left: 94%;
    transform: translate(-50%, -50%);
}
.options{
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#options{
    width: 35vw;
    height: 6vw;
}
#company{
    width: 2vw;
    height: 2vw;
}
.company{
    position: absolute;
    top: 95%;
    left: 40%;
    transform: translate(-50%, -50%);
}
#companylet{
    font-size: 1vw;
    color: white;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#capsules{
    width: 2vw;
    height: 2vw;
}
.capsules{
    position: absolute;
    top: 95%;
    left: 47%;
    transform: translate(-50%, -50%);
}
#capsuleslet{
    font-size: 1vw;
    color: white;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#rockets{
    width: 2vw;
    height: 2vw;
}
.rockets{
    position: absolute;
    top: 95%;
    left: 54%;
    transform: translate(-50%, -50%);
}
#rocketslet{
    font-size: 1vw;
    color: white;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#history{
    width: 2vw;
    height: 2vw;
}
.history{
    position: absolute;
    top: 95%;
    left: 60%;
    transform: translate(-50%, -50%);
}
#historylet{
    font-size: 1vw;
    color: white;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
img{
    width: 2vw;
    height: 2vw;
}
#rocket{
    width: 25vw;
    height: 40vw;
    transform: rotate(45deg);
    transform-origin: top left; 
}
.rocket{
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
}


@media (max-width: 500px) {
    *{
        font-size: 4vw;
    }
    body{
        overflow: auto;
        overflow-x: hidden;
    }
    button{
        width: 9vw;
        height: 4vh;
    }
    h2, p, #location, #summary{
        font-size: 4vw;
    }
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 95%;
    }
    /*uuuuuuuuuuuuuuuuu*/
    .options{
        position: fixed;
        top: -1;
        left: 50vw;
    }
    .rockets, .capsules, .history, .company{
        position: fixed;
        top: 96%;
    }
    .rockets{
        left: 56vw;
    }
    .capsules{
        left: 42vw;
    }
    .history{
        left: 69vw;
    }
    .company{
        left: 28vw;
    }
    #options{
        width: 80vw;
        height: 9vh;
    }
    #companylet, #capsuleslet, #historylet, #rocketslet{
        font-size: 3vw;
        position: fixed;
        top: 75%;
        left: 50%;
    }
    #company, #capsules, #history, #rockets{
        width: 6vw;
        height: 3vh;
    }
    #prevButton, #nextButton{
        width: 20vw;
        font-size: 4vw;
        height: 5vh;
    }
    img{
        width: 10vw;
        height: 5vh;
        margin: 3vw;
    }
    .links{
        left: 50vw;
        top: 88%;
    }
    #links{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .location{
        top: 75%;
        left: 85%;
    }
}