<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capsules</title>
    <link rel="stylesheet" href="/css/capsules.css">
</head>
<body>
    <header >
        <div class="headerTitle" id="headerCapsules"></div>
        <div class="statusCircle" id="statusCircle"></div>
    </header>
    <div class="cosodiv">
        <img id="coso" src="/Storage/img/information.png">
    </div>
    <div class="cosodiv2">
        <img id="coso" src="/Storage/img/information.png">
    </div>
    <div class="container">
        <div class="caja1">
            <div class="caja">
            </div>
            <div class="status">
                <img id="circulito" src="/Storage/img/circle-fill-svgrepo-com.svg"><p id="letras">Destroyed</p>
                <img id="circulito" src="/Storage/img/circle-fill-svgrepo-com (1).svg"><p id="letras">Unknown or Retired</p>
                <img id="circulito" src="/Storage/img/circle-fill-svgrepo-com (2).svg"><p id="letras">Active</p>
            </div>
        </div>
        <div class="caja2"></div>
        <div class="caja3">
            <div class="OTR" ></div>
            <div class="botones">
                <button role="button" class="button-name" id="prevButton" onclick="cambiarCapsula(-1)">Anterior</button>
                <button role="button" class="button-name" id="nextButton" onclick="cambiarCapsula(1)">Siguiente</button>
            </div>
        </div>
    </div>
    <div class="options">
        <img id="options" src="/Storage/img/Options.png">
    </div>
    <div class="company">
        <a href="./company.html"><img id="company" src="/Storage/img/company.png">
        <p id="companylet">Company</p></a>
    </div>
    <div class="capsules">
        <a href="./capsules.html"><img id="capsules" src="/Storage/img/capsule.png">
        <p id="capsuleslet">Capsules</p></a>
    </div>
    <div class="rockets">
        <a href="./rockets.html"><img id="rockets" src="/Storage/img/rocket.png">
        <p id="rocketslet">Rockets</p></a>
    </div>
    <div class="history">
        <a href="./history.html"><img id="history" src="/Storage/img/history.png">
        <p id="historylet">History</p></a>
    </div>
</body>
<script src="/js/modules/capsules.js"></script>
</html>