<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/history.css">
    <title>History</title>
    <link rel="icon" href="/Storage/img/spacex_logo_icon_144865.png" type="image/x-icon">
</head>
<body>
    <header id="headerHistory">
        
    </header>
    <div class="container">
        <div class="caja1" >
            <div class="event" id="eventDate"></div>
        </div>
        <div class="caja2">
            <div class="pagina" id="vista-previa-enlace">

            </div>
        </div>
        <div class="caja3">
            <div class="infoHistory" id="infoD">

            </div>
            <div class="botones">
                <button onclick="fetchRockets(0)" id="botones">1</button>
                <button onclick="fetchRockets(1)" id="botones">2</button>
                <button onclick="fetchRockets(2)" id="botones">3</button>
                <button onclick="fetchRockets(3)" id="botones">4</button>
                <button onclick="fetchRockets(4)" id="botones">5</button>
                <button onclick="fetchRockets(5)" id="botones">6</button>
                <button onclick="fetchRockets(6)" id="botones">7</button>
                <button onclick="fetchRockets(7)" id="botones">8</button>
                <button onclick="fetchRockets(8)" id="botones">9</button>
                <button onclick="fetchRockets(9)" id="botones">10</button>
                <button onclick="fetchRockets(10)" id="botones">11</button>
                <button onclick="fetchRockets(11)" id="botones">12</button>
                <button onclick="fetchRockets(12)" id="botones">13</button>
                <button onclick="fetchRockets(13)" id="botones">14</button>
                <button onclick="fetchRockets(14)" id="botones">15</button>
            </div>
        </div>
    </div>
    <div class="options">
        <img id="options" src="/Storage/img/Options.png">
    </div>
    <div class="company">
        <a href="../index.html"><img id="company" src="/Storage/img/company.png">
        <p id="companylet">Company</p></a>
    </div>
    <div class="capsules">
        <a href="./capsules.html"><img id="capsules" src="/Storage/img/capsule.png">
        <p id="capsuleslet">Capsules</p></a>
    </div>
    <div class="rockets">
        <a href="./rockets.html"><img id="rockets" src="/Storage/img/rocket.png">
        <p id="rocketslet">Rockets</p></a>
    </div>
    <div class="history">
        <a href="./history.html"><img id="history" src="/Storage/img/history.png">
        <p id="historylet">History</p></a>
    </div>
</body>
<script src="../js/modules/history.js"></script>
</html>