<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/rockets.css">
    <title>Document</title>
</head>
<body>
    <header ><div class="headerTitle" id="headerRockets"></div></header>
     <div class="container">
        <div class="box1"> </div>
        <div class="box2">
            <div class="caja1"></div>
            <div class="caja2">
                <div class="add"></div>
                <div class="add2" id="image"></div>
                <div class="add"></div>
            </div>
            <div class="caja3">
                <img src="/Storage/img/pixelcut-export__1_-removebg-preview.png" alt="" id="options">
                
            </div>
        </div>
        <div class="box3">
            <div class="infoNave">yuca</div>
            <div class="botones">
                <button onclick="fetchRockets(0)" id="botones">1</button>
                <button onclick="fetchRockets(1)" id="botones">2</button>
                <button onclick="fetchRockets(2)" id="botones">3</button>
                <button onclick="fetchRockets(3)" id="botones">4</button>
            </div>
            
        </div>
     </div>   
</body>
<script src="../js/modules/rockets.js"></script>
</html>
