<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/rockets.css">
    <title>Document</title>
</head>
<body>
    <header ><div class="headerTitle" id="headerRockets"></div></header>
     <div class="container">
        <div class="box1">
            <div class="information">
                <div class="infoRoc" >
                    <div class="info"><img src="../Storage/img/information.png" alt="cosito" id="icono"></div>
                    <div class="infos" id="info1"></div>
                </div>
                <div class="infoRoc" >
                    <div class="info"><img src="../Storage/img/information.png" alt="cosito" id="icono"></div>
                    <div id="info2"></div>
                </div>
                <div class="infoRoc" >
                    <div class="info"><img src="../Storage/img/information.png" alt="cosito" id="icono"></div>
                    <div id="info3"></div>
                </div>
                <div class="infoRoc" >
                    <div class="info"><img src="../Storage/img/information.png" alt="cosito" id="icono"></div>
                    <div id="info4"></div>
                </div>
                
            </div>
        </div>
        <div class="box2">
            <div class="caja1" >
                <div class="div" id="speed"></div>
            </div>
            <div class="caja2">
                <div class="add" id="infor1">
                    <div class="joa"></div>
                    <div class="moreInfo">
                        <h3 id="h3">INFORMATION ROCKET</h3>
                        <hr>
                        <div class="moreInfoRoc" id="moreInfo">
                    
                        </div>
                    </div>
                </div>

                <div class="add2" id="image"></div>

                <div class="add" id="infor2">
                    <div class="joa">
                    </div>
                    <div class="moreInfo">
                        <h3 id="h3">ENGINE INFORMATION</h3>
                        <hr>
                        <div class="moreInfoRoc" id="moreInfoo"></div>
                    </div>
                </div>
            </div>
            <div class="caja3">
                putamerda
            </div>
        </div>
        <div class="box3">
            <div class="infoNave" id="infoRocket">
            </div>
            <div class="botones">
                <button onclick="fetchRockets(0)" id="botones">1</button>
                <button onclick="fetchRockets(1)" id="botones">2</button>
                <button onclick="fetchRockets(2)" id="botones">3</button>
                <button onclick="fetchRockets(3)" id="botones">4</button>
            </div>
            
        </div>
        <div class="options">
            <img id="options" src="/Storage/img/Options.png">
        </div>
        <div class="company">
            <a href="../index.html"><img id="company" src="/Storage/img/company.png">
            <p id="companylet">Company</p></a>
        </div>
        <div class="capsules">
            <a href="./capsules.html"><img id="capsules" src="/Storage/img/capsule.png">
            <p id="capsuleslet">Capsules</p></a>
        </div>
        <div class="rockets">
            <a href="./rockets.html"><img id="rockets" src="/Storage/img/rocket.png">
            <p id="rocketslet">Rockets</p></a>
        </div>
        <div class="history">
            <a href="./history.html"><img id="history" src="/Storage/img/history.png">
            <p id="historylet">History</p></a>
        </div>
     </div>   
</body>
<script src="../js/modules/rockets.js"></script>
</html>
